.advanced-data-analysis-page {
  padding: 20px;
}

.advanced-data-analysis-page h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.advanced-data-analysis-page h3 {
  font-size: 1.5em;
  margin-top: 20px;
}

.advanced-data-analysis-page ul {
  list-style-type: none;
  padding: 0;
}

.advanced-data-analysis-page li {
  margin-bottom: 15px;
}

.description {
  margin-top: 5px;
  font-size: 0.9em;
  color: #555;
}
