.tableau-visualizations-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Align items horizontally at the center */
}

.visualization-list {
  list-style-type: none;
  padding: 0;
  max-width: 600px; /* Adjust the maximum width as needed */

}

.visualization-list li {
  margin-bottom: 20px;
}

.visualization-list li a {
  font-size: 18px;
  color: #007bff; /* Blue color */
  text-decoration: none;
}

.visualization-list li p {
  margin-top: 5px;
  font-size: 14px;
  color: #555; /* Dark gray color */
}

.made-with {
  color: #555; /* Dark gray color */
  font-weight: bold;
}
